{
  "li_at": "AQFAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  "JSESSIONID": "ajax:00000000000000000000",
  "lidc": "b=xxxxxxxxxxxxxxxxxxxxxxxx:g=1:r=https://www.linkedin.com",
  "bcookie": "v=2&xxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
  "bscookie": "v=2&xxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
  "dfpfpt": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  "lang": "v=2&lang=en-us",
  "fed_auth": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  "sep": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  "li_theme": "light",
  "liap": "true",
  "lms_ads": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  "lms_analytics": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  "AuditLang": "en",
  "aam_uuid": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  "_guid": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
}
